body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .profile-card {
    background: linear-gradient(to bottom, #55aaff 30%, #fff 30%);
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
    margin-top: 50px;
  }
  
  .name {
    font-size: 24px;
    font-weight: bold;
  }
  
  .contact-info_two {
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  .contact-info li {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
  }
  
  .contact-info a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    text-decoration: none;
    margin-right: 5px;
  }
  
  .contact-info a:hover {
    transform: scale(1.4);
  }
  
  .contact-info li:last-child {
    margin-right: 0;
  }
  
  .contact-info li i {
    color: #555;
    font-size: 24px;
  }
  
  .contact-info li a {
    color: #555;
    text-decoration: none;
  }
  
  .contact-info li a:hover {
    color: #007bff;
  }
  
  .contact-info .twitter i {
    color: #1DA1F2;
  }
  
  .contact-info .facebook i {
    color: #1877F2;
  }
  
  .contact-info .instagram i {
    color: #E4405F;
  }
  .contact-info .linkedin i {
    color: rgb(79, 91, 201);
  }  

  
  .contact-info_two li:nth-child(n+2) {
    margin-top: 15px; /* Add margin-top to create space between info items */
  }